*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}


header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(wallpaper.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;	
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color:#000;

}
ul li.active a{
	background-color: #fff;
	color:#000;

}

.logo{
	float: left;
	height: auto;
	position: absolute;
	top: 42%;
	left: 10%;
	transform: translate(-50%, -50%);
	border: 10px solid;

}
.nav{
	max-width: 1200px;
}

h1{
	position: absolute;
	top: 10%;
	left: 29%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 40px;
	background-color: black;
	padding: 10px;
	border: 1px solid;
}
h3{
	position: absolute;
	top: 22%;
	left: 40.95%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 30px;
	background-color: black;
	padding: 10px;
	border: 1px solid;
}

h2{
	position: absolute;
	top: 56%;
	left: 39.5%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}
h2 a{
	text-decoration: none;
	color: white;
	border: 1px solid;
	padding: 5px 20px;
	background-color: black;
	padding: 12px;
}

p.uvodni{
	position: absolute;
	top: 41%;
	left: 55%;
	transform: translate(-50%, -50%);
	background-color: black;
	color: white;
	font-size: 20px;
	text-align: justify;
	padding: 8px;
}

footer{
	background-color: black;
	color: white;
	font-size: 17px;
	text-align: left;
	margin-top: -109px;
	padding: 20px 30px 10px;
	border: 1px solid;

}

p.adresa{
	text-align: left;
}
p.vpravo{
	text-align: right;
	margin-top: 10px;
}
p.vyvoj{
	text-align: right;
}
p.nazeve{
	margin-top: -45px;
	margin-left: 300px;
}
p.nazevt{
	margin-top: -27px;
	margin-left: 300px;
}
p.email{
	margin-top: -19px;
	margin-left: 400px;
}	
p.telefon{
	margin-top: -18px;
	margin-left: 400px;
}